@media (max-width: 768px) {
    body {
        line-height: 1.25em;
    }
    nav h1 a,
    .inside nav h1 a {
        font-size: 0.6em;
        letter-spacing: 6px;
    }
    #breadcrumb {
        padding: 10px 0; 
    }
    .filter-options h2 {
        display: block;
    }

    #neighborhoods-select {
        margin-bottom: 6px;
    }

    .inside #maincontent {        
        grid-template-columns: auto;
        grid-template-rows: repeat(4, [row] auto);
        grid-template-areas:               
          "restaurant-photo-container"
          "restaurant-info"
          "map-container"
          "restaurant-hours-wrapper"
          "reviews-container";
        max-width: 960px;
        margin: 0 auto;
        /* padding: 10px; */
    }
    .inside #map-container {
        width: auto;       
    }
    .inside #map {
        height: 60vw;
    }

    .inside #restaurant-info,
    .inside #restaurant-photo-container,
    .inside #map-container,
    .inside #restaurant-hours-wrapper,
    .inside #reviews-container {
        margin: 13px;
    }
    
}
/*@media (min-width: 700px) {
    #map-container {
         display: flex; 
    }
}

@media all and (max-width: 1690px) { ...}
@media all and (max-width: 1280px) { ...}
@media all and (max-width: 980px) { ... }
@media all and (max-width: 736px) { ... }
@media all and (max-width: 480px) { ... }
*/


#restaurants-list {    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
    max-width: 960px;
}